

#emit_form
    %form{:action=>"/emit/", :method=>"post"}
        %span="What are you thinking?"
        %br
        %textarea{:name => "content", :rows => 6}
        %br
        %input{:type => "submit", :value => "Emit"}

#emission_list
    - @emissions.each do |emission|
        .emission
            %p= emission["username"]
            %p= emission["metadata"]["content"]

#sidebar
    %p
        %a{:href => "/user/#{@user["username"]}/following/"}="Following (#{@user["following"].length})"
    %p
        %a{:href => "/user/#{@user["username"]}/followers/"}="Followers (#{@user["followers"].length})"
