
.emission
    .emission_left
        %img.user_image{:src => "/profile_pictures/#{@emission.author_username}.jpg"}
    .emission_right
        %a{:href => "/user/#{@emission.author_username}/"}=@emission.author_username
        %div
            :markdown
                #{@emission.content.userlinks}
        %div
            %a{:href => "/emission/#{@emission.id}/"}=@emission.created_at.strftime("%m/%d/%Y at %I:%M %p")
            - if @logged_in_user.id != @emission.author_id
                %a{:id => "reply_#{@emission.id}", :href => "#"}="Reply"
            - if @emission.conversation_id
                %a{:href => "/conversation/#{@emission.conversation_id}/"}="Conversation"
            :javascript
                $("#reply_#{@emission.id}").live("click", function() {
                    $("#reply_form_#{@emission.id}").show();
                    $("#reply_textarea_#{@emission.id}").focus();
                    $("#reply_textarea_#{@emission.id}").get(0).value += " ";
                    var val = $("#reply_textarea_#{@emission.id}").get(0).value;
                    console.log(val+".");
                    console.log(val.length);
                    $("#reply_textarea_#{@emission.id}").get(0).setSelectionRange(val.length, val.length);
                });
                $("#reply_cancel_#{@emission.id}").live("click", function() {
                    $("#reply_form_#{@emission.id}").hide();
                });
        %div{:id => "reply_form_#{@emission.id}", :style => "display: none;"}
            %form{:action => "/emit/", :method => "post"}
                %input{:type => "hidden", :name => "in_reply_to", :value => "#{@emission.id}"}
                %textarea{:id => "reply_textarea_#{@emission.id}", :name => "content", :rows => 4}="@#{@emission.author_username}"
                %br
                %input{:type => "submit", :value => "Reply"}
                %a{:id => "reply_cancel_#{@emission.id}", :href => "#"}="Cancel"

