
.user_info
    %img.user_image{:src => "/profile_pictures/#{@userInfo.username}.jpg"}
    %p
        %strong="#{@title}"
        #{@userInfo.username}
    - if @userInfo.bio and not @userInfo.bio.empty?
        %p
            %strong="Bio"
            #{@userInfo.bio}
    %p
        -#%strong="Emission#{"s" unless @userInfo["tweets"].length == 1}"
        -#%a{:href => "/user/#{@userInfo["username"]}/"}="#{@userInfo["tweets"].length}"
    %p
        %strong="Following"
        %a{:href => "/user/#{@userInfo.username}/following/"}="#{@userInfo.num_following}"
    %p
        %strong="Followers"
        %a{:href => "/user/#{@userInfo.username}/followers/"}="#{@userInfo.num_followers}"
    %p
        -#%strong="Mentions"
        -#%a{:href => "/user/#{@userInfo["username"]}/mentions/"}="#{@userInfo["mentions"].count}"
